body {
    background-color: rgb(207, 205, 205);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/081/627/original/alexander-andrews-yOIT88xWkbg-unsplash.jpg?1683921645);
    overflow: hidden;
}

.star {
  position: absolute;
  width: 4px;
  height: 8px;
  background-color: white;
  
  border-radius: 50px;
  animation: shooting-star 2s ease-out infinite;
}

 .star:nth-child(1) {
      top: 50px;
      left: 100px;
        animation-delay: 0;
    animation-duration: 1s;
    }

    .star:nth-child(2) {
      top: 150px;
      left: 200px;
        animation-delay: 0;
    animation-duration: 1.5s;
    }

    .star:nth-child(3) {
      top: 20px;
      right: 100px;
        animation-delay: 0;
    animation-duration: 2s;
    }

    .star:nth-child(4) {
      top: 150px;
      right: 200px;
        animation-delay: 0;
    animation-duration: 2,5s;
    }

    .star:nth-child(5) {
      top: 350px;
      left: 300px;
        animation-delay: 0;
    animation-duration: 1.5s;
    }

     .star:nth-child(6) {
      top: 225px;
      left: 100px;
        animation-delay: -0.4;
    animation-duration: 1.5s;
}

 .star:nth-child(7) {
      top: 250px;
      right: 200px;
        animation-delay: 0;
    animation-duration: 1.5s;
    }

     .star:nth-child(8) {
      top: 150px;
      right: 200px;
        animation-delay: 0.5;
    animation-duration: 3s;
    
    }

     .star:nth-child(9) {
      top: 50px;
      right: 300px;
        animation-delay: 0;
    animation-duration: 5s;
    }

    .star:nth-child(10) {
      top: 700px;
      right: 30px;
        animation-delay: 0.2;
    animation-duration: 4s;
    }
    .star:nth-child(10) {
      top: 700px;
      left: 30px;
        animation-delay: 0.2;
    animation-duration: 1.5s;
    }

    .star:nth-child(11) {
      top: 700px;
      right: 10px;
        animation-delay: 0.2;
    animation-duration: 2s;
    }

    .star:nth-child(12) {
      top: 800px;
      right: 20px;
        animation-delay: 0.2;
    animation-duration: 1.5s;
    }

    .star:nth-child(13) {
      top: 600px;
      right: 40px;
        animation-delay: 0.1;
    animation-duration: 1.5s;
    }

    .star:nth-child(14) {
      top: 700px;
      left: 300px;
        animation-delay: 0;
    animation-duration: 2s;
    }
  
.star:nth-child(15) {
      top: 400px;
      right: 100px;
        animation-delay: 0;
    animation-duration: 2s;
    }

    .star:nth-child(15) {
      top: 400px;
      right: 100px;
        animation-delay: 0;
    animation-duration: 2s;
    }

    .star:nth-child(16) {
      top: 75px;
      right: 250px;
        animation-delay: 0.5;
    animation-duration: 1s;
    }

    .star:nth-child(17) {
      top: 250px;
      left: 75px;
        animation-delay: 0;
    animation-duration: 3s;
    }

    .star:nth-child(18) {
      top: 700px;
      right: 150px;
        animation-delay: 0;
    animation-duration: 2s;
    }

    .star:nth-child(19) {
      top: 25px;
      left: 150px;
        animation-delay: 0;
    animation-duration: 1s;
    }

    .star:nth-child(20) {
      top: 500px;
      right: 350px;
        animation-delay: 0;
    animation-duration: 2s;
    }
    

@keyframes shooting-star {
  from {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(400px) translateY(400px) scale(0);
    opacity: 0;
  }
}


.container {
    max-width: 600px;
    background-color: rgb(245, 245, 245);
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
    }

    h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: xx-large;
    color:#000000;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px #bfbbbb; 
    }

    h2 {
        margin:0;
        line-height: 1.5;
        font-size: 24px;
    }

.city {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 18px 0;
    border-bottom: 1px dashed rgb(200, 184, 184);
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.6;
    font-weight: bold;
    font-size: smaller;
}

.time {
    font-size:40px;
    font-weight: bold;
}
.time small {
    font-size: 18px;
    vertical-align: middle;
    line-height: 34px;
}


select {
    display: block;
    width: 100%;
    padding: 3px;
     box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
     border-radius: 5px;
     font-weight: 600;
}

footer {
  text-align: center;
  margin: 0 auto;
  font-style: inherit;
  font-size: 13px;
  background: #f7f4f4;
  max-width: fit-content;
  border-radius: 5px;
  line-height: 1.5;
}
